<h1>New Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :name %>
  <%= f.label :Cost %>
  <%= f.text_field :cost %>
  <%= f.label :Country of Origin %>
  <%= f.text_field :country_of_origin %>
  <%= f.submit  %>
<% end %>